.App {
  text-align: center;
}

#color {
  height:100px;
  width: 150px;
  text-align: center;
  padding: 70px;
  margin: auto;
  border:3px solid black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  
}
